//phone
html,
body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  box-sizing: border-box;
  transition: background-color 1s ease;
  padding: 3em 1em;
}

.quoteGenerator {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
  background-color: white;
  padding: 4em 1em;
  border-radius: 5px;
  transition: color 1s ease;
  height: 100%;
  h2 {
    min-height: 4em;
    margin: 0;
    margin-bottom: 1em;
    &:before {
      content: "“";
    }
    &:after {
      content: "”";
    }
  }
  .author {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3em;
    p {
      margin: 0;
    }
    .line {
      height: 2px;
      width: 5em;
      margin-right: 0.5em;
      align-self: center;
      transition: background-color 1s ease;
    }
  }
  button {
    color: white;
    border: none;
    padding: 1em 2em;
    transition: background-color 1s ease;
    margin-top: auto;
    &:hover {
      opacity: 70%;
    }
    &:focus {
      outline: 0;
    }
  }
}

// pc
@media (min-width: 768px) {
  section {
    padding-top: 10em;
  }
  .quoteGenerator {
    padding: 4em;
    height: initial;
    button {
      align-self: flex-end;
    }
  }
}
